.classic {
    min-height: 80px;
    display: flex;
    flex-direction: column;
    /* See https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
    margin: 20px;
    padding: 20px;
    box-shadow: 
       /*inset 0 -3em 3em rgba(0,0,0,0.1), */
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.footer {
    margin-top: auto;
    font-size: xx-small;
    text-align: right;
}