.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0 auto;
  background-color: aliceblue;
}
.Spacer {
  flex: 1;
  background-color: white;
}


.HeaderStyle {
  padding: 0px 10px;
  flex-shrink: 0;
}

.HeadingStyle {
  margin: 0px 0px;
  padding: 0px 40px;
  box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.MainStyle {
  padding: 0px 10px;
  flex-grow: 1;
  overflow-y: scroll;
}

.FooterStyle {
  background-color: aliceblue;
  padding: 0px 10px;
  flex-shrink: 0
}