body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.column-enter {
  max-width: 0px;
}
.column-enter-active {
  max-width: 600px;
  transition: max-width 1000ms;
}
.column-exit {
  max-width: 600px;
}
.column-exit-active {
  max-width: 0px;
  transition: max-width 1000ms;
}